<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">Proposta de Necessitat</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
                        <th scope="col">ID</th>
                        <th scope="col">Full Comanda</th>
                        <th scope="col">Material</th>
                        <th scope="col">Quantitat</th>
                        <th scope="col">Preu</th>
						<th scope="col">Estat</th>

				      <th scope="col">
				      	<a href="/propostaNecessitat/create" class="btn btn-primary">New</a>
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% list.forEach( function(propostaNecessitat) {%>
					    <tr>		
                          <td><%= propostaNecessitat.id %></td>
                          <td><%= propostaNecessitat.idFullComanda %></td>
                          <td><%= propostaNecessitat.material%></td>
                          <td><%= propostaNecessitat.quantitat %></td>
                          <td><%= propostaNecessitat.preu %>€</td>
						  <td><%= propostaNecessitat.estat %>
							<a href="/propostaNecessitat/updateEstat/<%=propostaNecessitat._id%>"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
								<path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
								<path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
							  </svg></a>  </td>
					      <td>					      	
					      	<a class="btn btn-danger" href="/propostaNecessitat/delete/<%=propostaNecessitat._id%>" class="card-link">Delete</a>
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	     <!-- Paginación -->
	  <ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1">Previous</a>
		  </li>
		<% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === page ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
          <% } %>
		<li class="page-item">
		  <a class="page-link" href="#">Next</a>
		</li>
	  </ul>
	</nav>
      <!-- Fin Paginación -->
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>