<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Nova Proposta de Necessitat</h5>
	  </div>
	  <div class="card-body">

	   	<form method="POST" action="/propostaNecessitat/create">
				
            <div class="form-group">
                <label for="material">Material</label>
                <input type="text" name="material" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="quantitat">Quantitat</label>
                <input type="text" name="quantitat" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="idProveidor">Proveidor</label>
              <select name="idProveidor" id="idProveidor" class="form-control">
                <% list_LlistaProveidor.forEach( function(llistaProveidor) { %>
                  <option value="<%= llistaProveidor.id %>"><%= llistaProveidor.nom %></option>
                <% }); %>	
              </select>
             </div>
            <div class="form-group">
                <label for="preu">Preu</label>
                <input type="text" name="preu" class="form-control" required>
           </div>
           <input type="hidden" name="estat" value="EnProces">
           <button type="submit" formaction="/propostaNecessitat/create" class="btn btn-primary">Guardar & finalitzar
          </button>
          <button type="submit" formaction="/propostaNecessitat/createMore" class="btn btn-secondary">Guardar & fer un altre
          </button>
			</form>

			<% if (typeof error !== "undefined") { %>
				<div class="alert alert-primary mt-2" role="alert">   <p><%= error %></p>
				</div>
			<% } %>

	  </div>
	</div>
	

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
