<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">Recepcions de comanda</h5>
	  </div>
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">Estat de recepció</th>
					  <th scope="col">Data de recepció</th>
					  <th scope="col">Lloc de recepció</th>
					  <th scope="col">Id de la persona recepció</th>
					  <th scope="col">Temps de rebuda</th>
					  <th scope="col">Valoració</th>
					  <th scope="col">Observació</th>
				      <th scope="col">
				      	<a href="/recepcioComanda/create" class="btn btn-primary">New</a>
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% list.forEach( function(recepcioComanda) { %>
					    <tr>		      
					      <td><%= recepcioComanda.estatRecepcio %></td>
						  <td><%= recepcioComanda.dateRecepcio %></td>
						  <td><%= recepcioComanda.llocRecepcio %></td>
						  <td><%= recepcioComanda.idPersonalRecepcio %></td>
						  <td><%= recepcioComanda.tempsRebuda %> dies</td>
						  <td><%= recepcioComanda.valoracio %></td>
						  <td><%= recepcioComanda.observacio %></td>
					      <td>					      	
					      	<a class="btn btn-danger" href="/recepcioComanda/delete/<%= recepcioComanda._id %>" class="card-link">Delete</a>
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	<!-- Paginación -->
	  <ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1">Previous</a>
		  </li>
		<% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === page ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
          <% } %>
		<li class="page-item">
		  <a class="page-link" href="#">Next</a>
		</li>
	  </ul>
	</nav>
      <!-- Fin Paginación -->
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>