<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Nova recepció</h5>
	  </div>
	  <div class="card-body">

	   	<form method="POST" action="/recepcioComanda/create">
        <% if (typeof data !=='undefined' ) { %>
				<div class="form-group">
					 <label for="estatRecepcio">Estat de recepció</label>
                     <select name="estatRecepcio" class="form-control">
                        <option value="TotDeCop">Tot de cop</option>
                        <option value="EnDiferentsLliuraments">En diferents lliuraments</option>
                     </select>
				</div>
                <div class="form-group">
                    <label for="dateRecepcio">Data de recepció</label>
                    <input type="date" name="dateRecepcio" class="form-control" value="<%= data.dateRecepcio %>">
                    <% if (errors && errors.find(e=> e.param === 'dateRecepcio')) { %>
                      <p class="alert alert-danger" role="alert">
                        <%= errors.find(e=> e.param === 'dateRecepcio').msg %>
                      </p>
                      <% } %>
               </div>
               <div class="form-group">
                <label for="llocRecepcio">Lloc de recepció</label>
                <input type="text" name="llocRecepcio" class="form-control" value="<%= data.llocRecepcio %>">
                <% if (errors && errors.find(e=> e.param === 'llocRecepcio')) { %>
                  <p class="alert alert-danger" role="alert">
                    <%= errors.find(e=> e.param === 'llocRecepcio').msg %>
                  </p>
                  <% } %>
               </div>
               <div class="form-group">
                <label for="tempsRebuda">Temps de rebuda</label>
                <input type="text" name="tempsRebuda" class="form-control" value="<%= data.tempsRebuda %>">
                <% if (errors && errors.find(e=> e.param === 'tempsRebuda')) { %>
                  <p class="alert alert-danger" role="alert">
                    <%= errors.find(e=> e.param === 'tempsRebuda').msg %>
                  </p>
                  <% } %>
               </div>
               <div class="form-group">
                    <label for="idPersonalRecepcio">Persona recepció</label>
                    <select name="idPersonalRecepcio" id="idPersonalRecepcio" class="form-control">
                      <% personal_list.forEach( function(personal) { %>
                        <option value="<%= personal.id %>"><%= personal.nom %> <%= personal.cognoms %></option>
                      <% }); %>	
                    </select>
                </div>
                <div class="form-group">
                    <label for="valoracio">Valoracio</label>
                    <select name="valoracio" class="form-control">
                       <option value="A"> A (BONA)</option>
                       <option value="B"> B (DEFICIENT)</option>
                       <option value="C"> C (INCORRECTE)</option>
                    </select>
               </div>
               <div class="form-group">
                <label for="idProposta">Proposta</label>  
                <select name="idProposta" id="idProposta" class="form-control">
                  <% propuestas_list.forEach(function(item) { %>
                    <option value="<%= item[0] %>">
                      Proposta ID: <%= item[0] %>, Elements:
                      <% for (var i = 1; i < item.length; i++) { %>
                        <%= item[i] %>
                        <% if (i < item.length - 1) { %>, <% } %>
                      <% } %>
                    </option>
                  <% }) %>
                </select>
              </div>
                <div class="form-group">
                    <label for="observacio">Observació</label>
                    <input type="text" name="observacio" class="form-control" value="<%= data.observacio %>">
                </div>
                <% } else { %>
                  <div class="form-group">
                    <label for="estatRecepcio">Estat de recepció</label>
                              <select name="estatRecepcio" class="form-control">
                                 <option value="TotDeCop">Tot de cop</option>
                                 <option value="EnDiferentsLliuraments">En diferents lliuraments</option>
                              </select>
                 </div>
                         <div class="form-group">
                             <label for="dateRecepcio">Data de recepció</label>
                             <input type="date" name="dateRecepcio" class="form-control">
                             <% if (errors && errors.find(e=> e.param === 'dateRecepcio')) { %>
                               <p class="alert alert-danger" role="alert">
                                 <%= errors.find(e=> e.param === 'dateRecepcio').msg %>
                               </p>
                               <% } %>
                        </div>
                        <div class="form-group">
                         <label for="llocRecepcio">Lloc de recepció</label>
                         <input type="text" name="llocRecepcio" class="form-control">
                         <% if (errors && errors.find(e=> e.param === 'llocRecepcio')) { %>
                           <p class="alert alert-danger" role="alert">
                             <%= errors.find(e=> e.param === 'llocRecepcio').msg %>
                           </p>
                           <% } %>
                        </div>
                        <div class="form-group">
                         <label for="tempsRebuda">Temps de rebuda</label>
                         <input type="text" name="tempsRebuda" class="form-control">
                         <% if (errors && errors.find(e=> e.param === 'tempsRebuda')) { %>
                           <p class="alert alert-danger" role="alert">
                             <%= errors.find(e=> e.param === 'tempsRebuda').msg %>
                           </p>
                           <% } %>
                        </div>
                        <div class="form-group">
                             <label for="idPersonalRecepcio">Persona recepció</label>
                             <select name="idPersonalRecepcio" id="idPersonalRecepcio" class="form-control">
                                 <% personal_list.forEach( function(personal) { %>
                                           <option value="<%= personal.id %>"><%= personal.nom %> <%= personal.cognoms %></option>
                                    <% }); %>	
                                    </select>
                         </div>
                         <div class="form-group">
                             <label for="valoracio">Valoracio</label>
                             <select name="valoracio" class="form-control">
                                <option value="A"> A (BONA)</option>
                                <option value="B"> B (DEFICIENT)</option>
                                <option value="C"> C (INCORRECTE)</option>
                             </select>
                        </div>
                        <div class="form-group">
                          <label for="idProposta">Proposta</label>  
                          <select name="idProposta" id="idProposta" class="form-control">
                            <% propuestas_list.forEach(function(item) { %>
                              <option value="<%= item[0] %>">
                                Proposta ID: <%= item[0] %>, Elements:
                                <% for (var i = 1; i < item.length; i++) { %>
                                  <%= item[i] %>
                                  <% if (i < item.length - 1) { %>, <% } %>
                                <% } %>
                              </option>
                            <% }) %>
                          </select>
                        </div>
                         <div class="form-group">
                             <label for="observacio">Observació</label>
                             <textarea name="observacio" class="form-control"> </textarea>
                         </div>
                <% } %>
				<button type="submit" class="btn btn-primary">Save
				</button>
        
			</form>

			<% if (typeof error !== "undefined") { %>
				<div class="alert alert-primary mt-2" role="alert">   <p><%= error %></p>
				</div>
			<% } %>

	  </div>
	</div>
	

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>