<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Nou Proveidor</h5>
	  </div>
	  <div class="card-body">

	   	<form method="POST" action="/llistatProveidor/create">
                <div class="form-group">
                    <label for="Cif">Cif</label>
                    <input type="date" name="Cif" class="form-control">
               </div>
               <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" name="nom" class="form-control">
               </div>
               <div class="form-group">
                <label for="ubicacio">Ubicació</label>
                <input type="text" name="ubicacio" class="form-control">
               </div>
               <div class="form-group">
                    <label for="idActivitat">ID Activitat</label>
                    <select name="idPActivitat" id="idActivitat" class="form-control">
                        <% activitat_list.forEach( function(activitat) { %>
                                  <option value="<%= activitat.id %>"><%= activitat.Nom %></option>
                           <% }); %>	
                           </select>
                </div>
                <div class="form-group">
                    <label for="contacte">Contacte</label>
                    <textarea name="contacte" class="form-control"> </textarea>
                </div>
                <div class="form-group">
                  <label for="email">Correu electronic</label>
                  <textarea name="email" class="form-control"> </textarea>
              </div>
              <div class="form-group">
                <label for="numDeficiencies">Numero de deficiencies</label>
                <textarea name="numDeficiencies" class="form-control"> </textarea>
            </div>
            <div class="form-group">
              <label for="numIncorreccions">Numero de incorreccions</label>
              <textarea name="numIncorreccions" class="form-control"> </textarea>
          </div>
				<button type="submit" class="btn btn-primary">Save
				</button>
			</form>

			<% if (typeof error !== "undefined") { %>
				<div class="alert alert-primary mt-2" role="alert">   <p><%= error %></p>
				</div>
			<% } %>

	  </div>
	</div>
	

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>