<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Editar Personal</h5>
	  </div>
	  <div class="card-body">
	
		<form method="POST" action="/personal/update/<%= personal._id %>">
			<div class="form-group">
				 <label for="Nom">Nom</label>
				<input type="text" name="nom" class="form-control" value="<%= personal.nom %>">
			</div>
            <div class="form-group">
                <label for="Cognoms">Cognoms</label>
               <input type="text" name="cognoms" class="form-control" value="<%= personal.cognoms %>">
           </div>
           <div class="form-group">
            <label for="Carrec">Carrec</label>
           <input type="text" name="carrec" class="form-control" value="<%= personal.carrec %>">
           </div>
           <div class="form-group">
            <label for="Gmail">Gmail</label>
           <input type="text" name="gmail" class="form-control" value="<%= personal.gmail %>">
           </div>
		   <div class="form-group">
            <label for="contrasenya">Contrasenya</label>
           <input type="text" name="contrasenya" class="form-control" value="<%= personal.contrasenya %>">
           </div>
			<button type="submit" class="btn btn-primary">Save
			</button>
			<a class="btn btn-danger" href="/personal/delete/<%= personal._id %>" role="button">Delete</a>

		</form>

		<% if (typeof error !== "undefined") { %>
			<div class="alert alert-primary mt-2" role="alert">
			    <p><%= error %></p>
			</div>
		<% } %>

		<% if (typeof message !== "undefined") { %>
			<div class="alert alert-primary mt-2" role="alert">
			    <p><%= message %></p>
			</div>
		<% } %>

	</div>
		
	</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>