<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">Full Comandes</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">ID</th>
                      <th scope="col">Data generació</th>
					  <th scope="col">Cost Final</th>
				      <th scope="col"> Operacions
				      	<!-- <a href="/fullComandes/create" class="btn btn-primary">New</a> -->
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% list.forEach( function(fullComanda) { %>
					    <tr>
						  <td><%= fullComanda.id %></td>
                          <td><%= fullComanda._id.getTimestamp() %></td>
						  <td><%= fullComanda.costFinal %></td>
					      <td>					      	
					      	<a class="btn btn-danger" id="botones" href="/fullComanda/delete/<%=fullComanda._id%>" class="card-link">Delete</a>
							<a class="btn btn-info" href="/fullComanda/Show/<%=fullComanda._id%>" class="card-link">Show</a>
					      </td>			      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
		</div>
	</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<style>
	#botones {
		margin-bottom: 5px;
	}
</style>