<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">Full Comandes</h5>
	  </div>

    <div class="card-body">
	    
			<table class="table table-striped">
		  		<thead>
				    <tr>		      
				      <th scope="col">ID</th>
                      <th scope="col">Proveidor</th>
                      <th scope="col">Data generació</th>
				      <th scope="col">
				      	<!-- <a href="/fullComandes/create" class="btn btn-primary">New</a> -->
				      </th>
				    </tr>
		  		</thead>
			  	<tbody>
			  		<% list.forEach( function(fullComanda) { %>
					    <tr>
						  <td><%= fullComanda.id %></td>
						  <% list_ProveidorsLlista.forEach(function(llistatProveidor) { if ( llistatProveidor.id == fullComanda.idProveidor) { %>
								<td><%= llistatProveidor.nom %></td>
						  <% } else { %>
								<td> No hi ha Proveidor <br> (Requereix aprovació)</td>
						<% }}); %>		      
                          
                          <td><%= fullComanda._id.getTimestamp() %></td>
					      <td>					      	
					      	<a class="btn btn-danger" href="/fullComanda/delete/<%=fullComanda._id%>" class="card-link">Delete</a>
					      </td>		      
					    </tr>
			   		<% }); %>	     
			    </tbody>
		  </table>	     
	    
		</div>
		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>